*{
    margin: 0;
    padding: 0;
}

.btn1{
    height: 40px;
    width: 145px;
    outline: none;
    border: none;background-color: black;
    color: white;
    border-radius: 4px;
}
.btn1:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: 0.5s;
}